#image_0{background-image:url('Result.png'); background-position:0px -0px; width:19px; height:6px; }
#image_1{background-image:url('Result.png'); background-position:0px -6px; width:19px; height:6px; }
